{% include 'header.html' %}

{% block content %}

{% with messages = get_flashed_messages()%}
 {% if messages %}
  {% for msg in messages%}
  <div class="alert alert-dismissible alert-warning" id="alerta">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    {{msg}}
  </div>
  {% endfor %}
 {% endif%}
{% endwith %}


<div class="container">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <br>
            <br>
          <div class="card">
            <div class="card-header">
              <div class="mb text-center text-activate">
                {% block title %} Crear Tarea {% endblock %}
              </div>
            </div>
            <div class="card-body">

                <form action="/create" method="post">
                    <div class="form-group text-center">
                        <label for="title">Titulo</label>
                        <input type="text" class="form-control" name="title" id="title" placeholder="Ingresa el titulo" required>
                    </div>
                    <br>
                    <div class="form-group text-center">
                        <label for="description">Descripcion</label>
                        <input type="text" class="form-control" name="description" id="txtUse" placeholder="Ingresa la descripcion" required>
                    </div>
                    <br>
                    <div class="text-center">
                        <button type="submit" class="btn btn-secondary" value="Publicar"><i class="bi bi-check2"></i></button>
                        <a href="{{url_for('Task.task')}}" class="btn btn-danger"><i class="bi bi-x"></i></a>
                    </div>
                </form>
            </div>
          </div>
        </div>
        <div class="col-md-4">
            
        </div>
        <div class="col-md-4">
            
        </div>
        
    </div>
   </div>

{% endblock %} -->